* {
    font-family: 'Noto Sans JP', sans-serif;
}

#rectang {
    background-color: #FF8496;
    color: white;
    width: 100%;
    height: 70vh;
    padding-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    hr {
        border: 1px solid white;
        width: 200vh;
    }
}

.grid {
    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(3, 10vh);
    position: relative;
    top: 5vh;

    .oo input{
        border: transparent;
        background-color: rgba(255, 255, 255, 0.438);
        padding: 10px;
        border-radius: 10px;
        color: white;
    }

    .oo textarea{
        border: transparent;
        background-color: rgba(255, 255, 255, 0.438);
        padding: 10px;
        border-radius: 10px;
        color: white;
    }

    .oo input::placeholder {
        color: rgba(255, 255, 255, 0.815);
    }

    .oo textarea::placeholder {
        color: rgba(255, 255, 255, 0.815);
    }

    .oo input:focus {
        outline: 2px solid #FC6A83;
    }

    .oo textarea:focus {
        outline: 2px solid #FC6A83;
    }

    .o4 {
        position: relative;
        left: 15vh;
    }

    .o4 input {
        width: 40vh;
        height: 10vh;
    }

    .o4 textarea {
        width: 50vh;
        height: 13vh;
        padding: 12px 20px;
        box-sizing: border-box;
        resize: none;
    }

    .o6 {
        position: relative;
        left: 24vh;
        width: fit-content;
    }

    .o6 select{
        width: 30vh;
        border: none;
        background-color: rgba(255, 255, 255, 0.438);
        padding: 10px;
        border-radius: 10px;
        color: white;
    }

    .oo select:focus {
        outline: 2px solid #FC6A83;
    }

    .lo {
        position: relative;
        top: 10vh;
    }

    .to {
        position: relative;
        top: 4vh;

    }

    .button {
        color: white;
        background-color: #FF8496 ;
    }

}

@media only screen and (max-width: 1400px) {
    .grid {
        grid-auto-flow: row;
        grid-template-columns: auto auto;
        .oo {
            height: 30vh;
        }

        .o4 {
            position: relative;
            left: 40vh;
            width: fit-content;
        }

        .o6 {
            position: relative;
            left: 40vh;
        }

        .to {
            position: relative;
            top: 8vh;
        }
    }
    #rectang {
        height: 90vh;
    }
    
 }

 @media only screen and (max-width: 650px) {
    .grid {
        grid-auto-flow: row;
        grid-template-columns: auto;
        
        .oo {
            height: 30vh;
        }

        .o4 {
            position: relative;
            left: 15vh;
            width: fit-content;
        }

        .o5 {
            position: relative;
            top: -10vh;
        }
        .o6 {
            position: relative;
            top: -30vh;
            left: 25vh;
        }
        .o7 {
            position: relative;
            top: -50vh;
        }
        .o8 {
            position: relative;
            top: -70vh;
        }
        .o9 {
            position: relative;
            top: -90vh;
        }
    }

    #rectang {
        height: 130vh;
    }
 }